.card-space{
margin-top: 40px;
}

// .card-title{
// font-family: 'Oswald', sans-serif;
// color: #686767;
// font-size: 100px;
// }

.cardImage{
  width: 800 px;
}

.card-text{
  font-size: 14px;
}

.card-genre{
  font-size: 18px;
  font-family: 'Oswald', sans-serif;

}

.heart{
  cursor: pointer;
  filter: grayscale(100%);
  text-align: right;
}

.heart:hover{
  filter: grayscale(0%);
}