
.user-title{
  font-weight: 200;
  font-size: 30px;
  color:rgb(174, 176, 176);

}

.user-view {
  letter-spacing: 2px;
  color:rgb(174, 176, 176);
  margin-top: 40px;
  text-align: center;
  
}

.user-view-info{
  color:rgb(174, 176, 176);

}